*{
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: hsl(0deg 0% 0% / 91%);;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    width: 700px;
    margin: 0 auto;
}

/* LINE */

.main_line {
    position: relative;
    height: 15px;
    background-color: #cbdde7;
    background-size: 7px 13px;
    background-position: 0 0, 0 0, 4px 0, 4px 0px;
    background-image: linear-gradient(29deg, #f2f2f4 6px, transparent 0), 
    linear-gradient(333deg, #f2f2f4 6px, transparent 0), linear-gradient(206deg, #f2f2f4 6px, transparent 0), 
    linear-gradient(155deg, #f2f2f4 6px, transparent 0);
    margin: 26px 0 26px;
}

/* MAIN */

main {
    width: 755px;
    margin: 0 auto;
    background-color: #f2f2f4;
    border-radius: 3px;
}


img {
    float: left;
    width: 140px;
    border-radius: 10px;
    height: 94px;
    margin-right: 22px;
    filter: blur(2px);
    transition: 1s ease;
}

img:hover {
    filter: none;
    transform: scale(1.2);
    position: relative;
    z-index: 1;
}

.main_option {
    padding-bottom: 24px;
}

.main_suboption {
    float: left;
    width: 500px;
}

li {
    border-bottom: 1px dotted #a8a8a8;
    line-height: 1.0;
    margin: 0 0 0.5em 0;
    position: relative;
    width: 100%;
    float: left;
    font-size: 18px;
}

b {
    float: left;
    margin: 0;
    position: relative;
    top: 0.2em;
    padding: 0 5px 0 0;
    background: #f2f2f4;
    font-style: normal;
    color: #b6903d;
    font-weight: 600;
    cursor: pointer;
}

b:hover {
    color: #969604;
}

span {
    background: #f2f2f4;
    padding: 1px 0 1px 5px;
    float: right;
    color: #969604;
    position: relative;
    top: 0.2em;
    font-weight: 600;
}

h2 {
    font-size: 23px;
    color: #531604;
    padding-top: 30px;
    font-weight: 700;
}

p {
    margin-top: 24px;
    font-size: 13.5px;
    color: #506671;
}